<div class="main-text">
  <h2>Login</h2>

  <form action="/auth/login" method="POST" id="form-container">
    <br>
    <label for="email-login">Email</label>
    <input id="email-login" type="email" name="email" placeholder="jon.snow@got.com" required>
    <br>
    <br>
    <label for="password-login">Password</label>
    <input id="password-login" type="password" name="password" placeholder="Your password" required>
    <br>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button class="submitbtn my-btn">Login</button>
  </form>

  <div class="iconos">
    <a href="/auth/google"><i class="fab fa-google fa-2x"></i></a>
    <a href="/auth/facebook"><i class="fab fa-facebook fa-2x"></i></a>
  </div>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup" class="normal-link">Signup</a>
  </p>
</div>