<div class="main-text">
  <h2>Create an account</h2>

  <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
    <br>
    <label for="email" class="required-label">Email (required):</label>
    <input id="email" type="text" name="email" placeholder="Your email" required>
    <br>
    <br>
    <label for="username" class="required-label">Username (required):</label>
    <input id="username" type="text" name="username" placeholder="Your username" required>
    <br>
    <br>
    <label for="password" class="required-label">Password (required):</label>
    <input id="password" type="password" name="password" placeholder="Your password" required>
    <br>
    <br>
    <label class="profile-image" for="image">
      Profile picture:
    </label>
    <div class="custom-file">
      <label class="profile-image custom-file-label" for="image">
        Your photo
      </label>
      <input type="file" name="image" class="custom-file-input">
    </div>
    <br>
    <br>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <button class="submitbtn my-btn" type="submit">Create account</button>
  </form>
  <div class="iconos">
    <h5>Sign up with:</h5>
    <a href="/auth/google"><i class="fab fa-google fa-2x"></i></a>
    <a href="/auth/facebook"><i class="fab fa-facebook fa-2x"></i></a>
  </div>
  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</div>