<div class="main-text">
  <h1>{{title}}</h1>

  <form action="/auth/signup" method="POST" id="form-container" <!--enctype="multipart/form-data" -->>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Your username">
    <br>

    <label for="email">Email</label>
    <input id="email" type="text" name="email" placeholder="Your email">
    <br>

    {{!-- <label for="image">Your photo </label>
    <input id="image-signup" type="file" name="image" placeholder="Your image"> --}}

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br>


    <br><br>

    <button class="submitbtn" type="submit">Create account</button>
  </form>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</div>