<div class="main-text">
  <h1>{{title}}</h1>

  <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
    <label for="username">Username</label>
    <br>
    <input id="username" type="text" name="username" placeholder="Your username">
    <br>

    <label for="email">Email</label>
    <br>
    <input id="email" type="text" name="email" placeholder="Your email">
    <br>

    <label for="image">Your photo
      <br>
      <input id="image-signup" type="file" name="image" placeholder="Your image" style="display:none">
    </label>
    <br>

    <label for="password">Password</label>
    <br>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br>

    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button class="submitbtn">Create account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>
  </form>
</div>