<div class="main-text container">
  <h2>Create an account</h2>

  <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
    <br>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="Your username">
    <br>
    <br>
    <label for="email">Email:</label>
    <input id="email" type="text" name="email" placeholder="Your email">
    <br>
    <br>
    <label class="profile-image" for="image">
      Profile picture:
    </label>
    <div class="custom-file">
      <label class="profile-image custom-file-label" for="image">
        Your photo
      </label>
      <input type="file" name="image" class="custom-file-input">
    </div>
    <br>
    <br>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br>
    <br>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <button class="submitbtn my-btn" type="submit">Create account</button>
  </form>
  <div class="iconos">
    <h5>Sign up with:</h5>
    <a href="/auth/google"><i class="fab fa-google fa-2x"></i></a>
    <a href="/auth/facebook"><i class="fab fa-facebook fa-2x"></i></a>
  </div>
  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</div>