<div class="main-text">
  <h2>Create an account</h2>

  <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
    <br>
    <label for="email-signup" class="required-label">Email (required):</label>
    <input id="email-signup" type="email" name="email" placeholder="Your email" required>
    <br>
    <br>
    <label for="username-signup" class="required-label">Username (required):</label>
    <input id="username-signup" type="text" name="username" placeholder="Your username" required maxlength="20">
    <br>
    <br>
    <label for="password-signup" class="required-label">Password (required):</label>
    <input id="password-signup" type="password" name="password" placeholder="Your password" required>
    <br>
    <br>
    <label class="profile-image" for="image-signup">
      Profile picture:
    </label>
    <div class="custom-file">
      <label class="profile-image custom-file-label" for="image-signup">
        Your profile picture
      </label>
      <input id="image-signup" type="file" name="image" class="custom-file-input" onchange="displayFileName()">
    </div>
    <br>
    <br>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <button class="submitbtn my-btn" type="submit">Create account</button>
  </form>
  <div class="iconos">
    <h5>Sign up with:</h5>
    <a href="/auth/google"><i class="fab fa-google fa-2x"></i></a>
    <a href="/auth/facebook"><i class="fab fa-facebook fa-2x"></i></a>
  </div>
  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login" class="normal-link">Login</a>
  </p>
</div>