<div class="main-text">
  <div class="user-info">
    <h2>Welcome {{username}}</h2>
    <img src="{{image}}" alt="{{username}}">
  </div>

  <br>
  <a href="/profile/editProfile" class="my-btn submitbtn">Edit your profile</a>
  <a href="/places/new" class="my-btn login">Add a new place</a>
</div>