<div class="main-text">
  <h1>{{title}}</h1>
  <h3>Busca la información necesaria
    de los lugares más protegidos en tu ciudad</h3>


  <p class="singup"><a href="/auth/signup">Signup</a></p>
  <p class="login"><a href="/auth/login">Login</a></p>
</div>