<div class="main-text">
  <h1>{{title}}</h1>
  <p>Busca la información necesaria
    de los lugares más protegidos en tu ciudad</p>

  <p class="singup"><a href="/auth/signup">Signup</a></p>
  <p class="login"><a href="/auth/login">Login</a></p>
</div>