<div class="main-text">
  <h1>{{title}}</h1>
  <h3>Te ayudamos a salir de tu casa sin preocuparte por tu salud!</h3>

  {{#if user}}
  <form action="/places" method="GET" class="homepage-form">
    <i class="fas fa-search"></i>
    <input type="text" name="search" placeholder='Type the name of a place' class="my-btn">
    <br>
    <button class="submitbtn my-btn" type="submit">Search</button>
  </form>
  <a href="/places" class="my-btn">See all the places</a>
  {{else}}
  <a href="/auth/signup" class="signup my-btn">Signup</a>
  <br>
  <a href="/auth/login" class="login my-btn">Login</a>
  {{/if}}

</div>