<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo-title">
      &nbsp;&nbsp;<svg width="35" height="45" viewBox="0 0 47 59" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M0 22.2848C0 9.99558 10.5437 0 23.5 0C36.4563 0 47 9.99558 47 22.2848C47 39.7463 25.709 57.7758 24.8029 58.5354C24.4296 58.8451 23.9648 59 23.5 59C23.0352 59 22.5704 58.8451 22.1971 58.5329C21.291 57.7757 0 39.7463 0 22.2848ZM25.5594 17.7456C26.6281 16.9675 27.8405 16.5729 29.1629 16.5729C32.8532 16.5729 35.6362 19.4148 35.6362 23.1834C35.6362 27.2548 32.1642 30.0404 26.9088 34.257C26.0157 34.9736 25.0041 35.7853 23.9524 36.6511C23.8138 36.7654 23.6358 36.8283 23.4511 36.8283C23.2665 36.8283 23.0885 36.7654 22.9498 36.6511C21.8987 35.7857 20.8874 34.9742 19.995 34.2582L19.9941 34.2575C14.7381 30.0404 11.2661 27.2548 11.2661 23.1834C11.2661 19.4148 14.0491 16.5729 17.7394 16.5729C19.0618 16.5729 20.2742 16.9675 21.3429 17.7456C22.3674 18.4916 23.0496 19.4417 23.4511 20.1327C23.8527 19.4417 24.5349 18.4916 25.5594 17.7456Z"
          fill="#746AF6" />
      </svg>
      <a class="navbar-brand" href="/">&nbsp;&nbsp;&nbsp;KLEEN</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/places/new" style="width: 91px;">New place</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Signup</a>
        </li>
        {{/if}}
      </ul>
      {{#if user}}
      <form class="form-inline" action="/places/quick-search/page/1" method="GET">
        <input class="form-control mr-sm-2 navbar-input" type="search" name="name" placeholder="Look up for a place"
          aria-label="Search">
        <button class="my-btn submitbtn navbar-btn" type="submit">Search</button>
      </form>
      {{/if}}
    </div>
  </nav>

  <div class="container">
    {{{body}}}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>