<div class="main-text">
  <h1>{{title}}</h1>
  <p>Busca la información necesaria
    de los lugares más protegidos en tu ciudad</p>

  <form action="/main" method="POST">
    <label for="search"></label>
    <input type="text" name="search" placeholder="Look up for a place!"><i class="fas fa-search"></i>
  </form>
</div>