<div class="main-text">
  <div class="user-info">
    <h1>Welcome {{username}}</h1>
    <img src="{{image}}" alt="{{username}}">
  </div>
  <a class="edit-post" href="#">Edit your posts</a>
  <a class="delete-post" href="#">Delete your posts</a>
</div>