* {
  font-family: 'Roboto', sans-serif;
  color: #333; }

img {
  object-fit: cover;
  height: 300px;
  width: 300px; }

html,
body {
  padding: 0;
  margin: 0; }

body {
  font: 14px;
  background: #d1c7f1;
  animation: bg-move 10s ease 2s infinite; }

.error-message {
  color: red; }

form {
  width: 100%; }

.container {
  padding-bottom: 50px; }

.upload {
  color: tomato;
  font-weight: bold;
  font-size: 42px; }

a,
a:hover {
  text-decoration: none;
  color: white; }

/*ICONOS*/
.fa-star {
  color: #f1b32b; }

.fa-upload {
  color: #746AF6; }

/* BUTTONS */
.my-btn {
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  width: 70%;
  max-width: 500px;
  margin: 20px auto;
  text-decoration: none;
  transition: 0.2s all; }

.my-btn:hover {
  transform: scale(1.1); }

.signup,
.submitbtn,
.signup:hover,
.submitbtn:hover {
  background: -webkit-linear-gradient(left, #746AF6, #D1A0F8);
  color: white;
  text-decoration: none; }

.login,
.login:hover {
  color: #746AF6;
  font-weight: 600;
  background: -webkit-linear-gradient(left, #BEBAE5, #F8F3FC);
  margin: 0px 15% 20px 15%;
  text-decoration: none; }

/* NAVBAR */
.navbar-brand {
  font-weight: bold; }

.navbar {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.navbar-btn,
.navbar-btn:hover {
  max-width: 200px;
  margin: 0; }

.navbar-input {
  border-radius: 30px;
  padding: 10px 15px;
  height: 44px;
  box-sizing: border-box; }

@media (min-width: 992px) {
  .form-inline {
    justify-content: flex-end !important; } }

@media (max-width: 576px) {
  .form-inline {
    flex-direction: column;
    align-items: flex-end;
    height: 120px;
    justify-content: space-evenly; }
  .navbar-btn {
    width: 100% !important; } }

/* MAIN PAGE INDEX */
.main-text,
.add-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.main-text {
  padding-top: 120px; }

.main-text h1 {
  font-size: 4rem;
  color: #333; }

.main-text h2 {
  font-size: 2.6rem;
  color: #333; }

.main-text h3 {
  font-size: 2.1rem;
  margin: 100px 0;
  font-weight: 400;
  color: #333; }

.homepage-form {
  position: relative; }

.homepage-form > input {
  padding-left: 40px !important;
  width: 70% !important; }

.fa-search {
  position: absolute;
  color: #96989A;
  top: 35px;
  padding-left: 15px; }

@media (min-width: 768px) {
  .main-text h3 {
    width: 60%; } }

/* SIGN  UP & LOGIN FORMS */
.main-text input,
select {
  padding: 10px;
  width: 90%;
  border-radius: 30px;
  border: none;
  background-color: #F6F8F9; }

.main-text label {
  display: block;
  text-align: left;
  margin: 10px auto;
  padding-left: 5px;
  width: 90%;
  color: #333;
  box-sizing: border-box; }

.custom-file-label {
  margin: 0 auto !important;
  width: 90%;
  border-radius: 30px;
  padding-left: 10px !important; }

.custom-file-label::after {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important; }

.custom-file-input,
#file-upload-button {
  cursor: pointer !important; }

#file-upload-button {
  display: none !important;
  z-index: -1; }

#form-container {
  width: 80%;
  max-width: 500px; }

.iconos {
  margin-bottom: 10px; }

.fa-google {
  display: inline-block;
  color: tomato;
  margin-right: 5px; }

.fa-facebook {
  display: inline-block;
  color: #3B5998;
  margin-left: 5px; }

/* PROFILE */
.user-info img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%; }

.edit-post,
.delete-post {
  background-color: #746AF6; }

.comment,
.my-place {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px; }

/* NEW PLACE */
.required-label {
  font-weight: bold; }

/* MAPBOX */
.mapboxgl-ctrl-geocoder--input {
  padding-left: 20px !important;
  background-color: white !important; }

/* PLACES */
.card {
  background-color: transparent;
  margin-bottom: 10px;
  border: none; }

.card-title {
  color: #746AF6; }

.card-image {
  width: 100%;
  overflow: hidden;
  border-radius: 10px; }

.card-image img:hover {
  transform: scale(1.5);
  transition: 2s all; }

.detail {
  display: block; }

/* PLACE DETAIL */
.comments {
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.8s all; }

.comments:hover {
  transform: scale(1);
  background: #fff; }

.add-comment {
  margin-top: 30px; }

.toleft {
  text-align: left; }

.avg-box {
  width: 70%;
  margin-top: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px; }

.avg-box span {
  color: tomato;
  font-size: 32px; }

.avg-box p {
  margin: 0; }

.comment-profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%; }

.comment-img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .about-comment {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px; }
  .add-comment {
    width: 50%;
    margin-top: 50px; }
  .comments-list {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    padding-top: 60px; }
  .comments {
    margin: 10px; } }

/*Background*/
@keyframes bg-move {
  0% {
    background: #ceb9fa; }
  20% {
    background: #D8C5F9; }
  40% {
    background: #b7aaf3; }
  60% {
    background: #d3bde6; }
  80% {
    background: #DEDBEB; }
  100% {
    background: #d3c7f7; } }

/*# sourceMappingURL=style.css.map */